<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Room Number</th>
            <th scope="col">Room Type</th>
            <th scope="col">Room Price</th>
            <th scope="col">Room Ameneties</th>
            <th scope="col">CheckIn Time</th>
            <th scope="col">Select room</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of rooms">
            <td scope="row">{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.price}}</td>
            <td>{{room.amenities | lowercase}}</td>
            <td>{{room.checkinTime | date}}</td>
            <td>
                <button class="btn btn-primary"
                (click)="selectRoom(room)">Select</button>
            </td>

        </tr>
    </tbody>
</table>
