<div [hidden]="hideMessagebox">
    <p>welcome to {{hotelName}}</p>
</div>
<!-- {{roomList | json}} -->

{{rooms?.availableRooms ?? "No rooms"}}

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button (click)="addRome()">
        Add room
    </button>
</div>

<div *ngIf="rooms.availableRooms > 0">
    <hoinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hoinv-rooms-list>
    Rooms List



    {{roomList}}



    <!-- 
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

 -->





</div>

<button (click)="toggle()">Toggling</button>